<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a routerLink="/"><img width="70px" src="\assets\img\logo.png" alt=""></a>
        
      </div>
  </div>
  <div class="row"></div>
  <br />
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a><h5 class="text-uppercase">disclaimer</h5></a>
      
    </div>

    <div class="col-xs-6 col-md-3">
      <a><h5 class="text-uppercase">privacy</h5></a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a><h5 class="text-uppercase">access to information</h5></a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a><h5 class="text-uppercase">terms and conditions</h5></a>
    </div>
  </div>
  </div>
  <br />
  <div class="row">
    <div class="container">
    <div class="col-xs-1">
      <mat-icon>copyright</mat-icon>2020
    </div>
    <div class="col-xs-1 ">
      LuSE
    </div>
  </div>
  </div>
 
</footer>

