p {
  font-family: 'Cardo', serif;
  color: white;
  padding-top: 10px;
}

.index-bar {
  background-color: #212121;
  display: block;
  height: 40px;

}
.mark, mark {
  padding: .2em;
  
}
mark {
  color: #fff;
  background: #212121;
    padding: 10px 13px;
    margin-top: 10px;
    font-family: 'Cardo', serif;
    font-weight: bold;
}
.space-index{
  font-family: 'Cardo', serif;
  font-weight: bold;
  color: #209b60;
}